<%- include('../layouts/header', { title: 'New Task' }) %> <%-
include('../layouts/menu') %>

<section class="section">
  <div class="container">
    <div class="main-card card">
      <h1 class="title size-4">New Tarefa</h1>

      <form action="/checklists/<%= checklistId %>/tasks" method="POST">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="task[name]"
              placeholder="Ex.: Things to study"
              value="<%= task.name %>"
              required
              autofocus
            />
            <% if(task.error && task.error.hasOwnProperty('name')) {
            %>
            <p class="is-danger help"><%= task.error.name.message %></p>
            <% } %>
          </div>
        </div>

        <button type="submit" class="button is-success">Save</button>
        <a href="/checklists/<%= checklistId %>" class="button">Cancel</a>
      </form>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
